body.dragging, body.dragging li {
	cursor: move !important;
}

.dragged {
	position: absolute;
	opacity: 0.5;
	z-index: 2000;
}
ol {
	list-style: none;
	min-height: 20px;
	margin: 0 0 10px;
	padding: 0;
}
.sortable_list_block {
	border: 1px solid #EEEEEE;
	border-radius: 5px;
	padding-top: 20px;
	margin-top: 20px;
}
#add_new_issue {
	margin-top: 20px;
}
h3 {
	margin: 0 0 20px;
}
.issue .options {
	margin: 0 0 -20px;
	text-align: right;
}
.issue .titles {
	width: 100%;
}
.issue .alert {
	margin: 0.5%;
	padding: 0.5%;
	width: 100%;
	overflow: hidden;
	max-height: 30px;
	font: 10px/12px Arial;
}
.issue .alert:hover {
	position: absolute;
	width: 300px;
	max-height: none;
	z-index: 2;
	font: 12px/14px Arial;
}
#login_form {
	border-radius: 0 0 5px 5px;
}
#login_form label {
	margin-right: 20px;
}
#login_form .pagelen {
	width: 50px;
}
.mt10 {
	margin-top: 10px;
}
#issues {
	padding-right: 0;
	position: fixed;
	margin-left: 50%;
}
.issue {
	padding: 0.5%;
	margin: 0.5%;
	float: left;
	width: 32%;
}
.issue li {
	margin: 0.5%;
	padding: 0.5%;
	width: 31%;
	min-height: 30px;
	float: left;
}